.venv/
venv/
node_modules/
__pycache__/
*.pyc
.git/
.gitignore
.vscode/
uploads/
*.csv
*.log
*.db
*.pdf
users.json
apikey.txt
.env
README.md
templates/src/
templates/node_modules/
templates/package-lock.json
